<h1>About</h1>

<p>Hi. My name is Megan and I am a Pacific Northwest native. I strive to adapt and expand my skills to cater towards each project and I am constantly working on growing my skillset. I have a deep love for coffee, the rain, and flowers. Most of all, I love to create.</p>
