<div class="heading">
  <h1 class="inline">Megan     </h1>
   <img src="../img/wc.png" alt="" class='image'>
  <h1 class="inline">     Olson</h1>
</div>
<hr>
<br>
<div class="blurb">
  <h3>I'm a junior full-stack web developer with a passion for writing clean and efficient code and creating simple and fresh designs for a user-friendly experience.</h3>
</div>
