<div class="heading">
  <h1 class="inline">Megan</h1>
   <img src="../img/flower.jpg" alt="" class='image'>
  <h1 class="inline">Olson</h1>
</div>
<br>
<hr>
<br>
<div class="blurb">
  <h3>Fullstack Developer with a passion for writing clean and efficient code and creating simple and fresh designs for a user-friendly experience.</h3>
</div>
