<br>
<div id="about">
  <p class="bio" id="paragraph">My name is Megan and I am a PNW native. I strive to adapt and expand my skills to cater towards each project and I am constantly working on growing my skillset. When I'm not at my computer, I'm in Seattle, WA with my fiancé - singing, dancing, and trying out new recipes in the kitchen.</p>
</div>

<div id="portfolio">
  <h3 class="for-spacing">Projects</h3>
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-4">
        <h4>Angular/Firebase/API</h4>
        <a href="https://github.com/MegOlson/eat-up"><img class="project" src="https://user-images.githubusercontent.com/20192033/32675461-d6dff494-c60b-11e7-8ed5-99dfec8f0ea1.png" alt="My Project Screenshot"></a>
      </div>
      <div class="col-md-4">
        <h4>Ruby/Sinatra/ActiveRecord SQL</h4>
        <a href="https://github.com/MegOlson/shoe_store"><img class="project" src="../img/shoe-store-screenshot.jpg" alt="My Project Screenshot"></a>
      </div>
      <div class="col-md-4">
        <h4>Ruby/Sinatra/ActiveRecord SQL</h4>
        <a href="https://github.com/MegOlson/salvation-army-signup"><img class="project" src="../img/salvation-army.png" alt="My Project Screenshot"></a>
      </div>
    </div>
  </div>
</div>
<!-- <div id="resume">
  <img class="resume" src="../img/resume.png" alt="Resume">
</div> -->
<div id="contact" class="jumbotron">
  <div class="content">
    <h1>Let's work together!</h1>
    <hr>
    <br>
    <h4>Email:</h4>
    <h4 class="underline"><a href="mailto:meganannetteolson@yahoo.com?Subject=Lets%20work%20together!" target="_top">meganannetteolson@yahoo.com</a></h4>
    <br>
    <h4>Phone Number:</h4>
    <h5>(206) 200-4949</h5>
  </div>
</div>
