<div class="project-navbar">
  <nav class="navbar" role="navigation" id="portfolio">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-brand">
        <li><a href="/ruby">Ruby</a></li>
        <li><a href="/javascript">Javascript</a></li>
        <li><a href="/portfolio">All</a></li>
      </ul>
    </div>
  </nav>
</div>

</nav>
<br>
<hr>
<br>
<div class="row">
  <div class="col-md-4">
    <h4>Angular/Firebase/API</h4>
    <a href="https://github.com/MegOlson/eat-up"><img class="project" src="https://user-images.githubusercontent.com/20192033/32675461-d6dff494-c60b-11e7-8ed5-99dfec8f0ea1.png" alt="My Project Screenshot"></a>
  </div>
  <div class="col-md-4">
    <h4>Angular/Firebase/API</h4>
    <a href="https://github.com/MegOlson/doctor-lookup"><img class="project" src="../img/doctor.png" alt="My Project Screenshot"></a>
  </div>
  <div class="col-md-4">
    <h4>Angular/Firebase</h4>
    <a href="https://github.com/MegOlson/club-manager"><img class="project" src="../img/club-manager.jpg" alt="My Project Screenshot"></a>
  </div>
</div>
