<!DOCTYPE html>
<html>
  <head>
    <title>Megan Olson | Web Developer </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
     <link rel="stylesheet" href="../css/styles.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top" id="home-page" role="navigation">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/" class="navbar-brand">Home</a></li>
          <li><a href="#about" class="navbar-brand">About</a></li>
          <li><a href="#portfolio" class="navbar-brand">Portfolio</a></li>
          <!-- <li><a href="#resume" class="navbar-brand">Resume</a></li> -->
          <li><a href="#contact" class="navbar-brand">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://github.com/MegOlson" target="_blank" class="navbar-right fa fa-github fa-2x"></a></li>
          <li><a href="https://www.linkedin.com/in/megan-olson-0a63a0133/" class="fa fa-linkedin fa-2x" target="_blank"></a></li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
