<!DOCTYPE html>
<html>
  <head>
    <title>Megan Olson</title>
     <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
     <link rel="stylesheet" href="../css/styles.css">
  </head>
  <body>

    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/" class="navbar-brand">Home</a></li>
          <li><a href="/about" class="navbar-brand">About</a></li>
          <li><a href="/portfolio" class="navbar-brand">Portfolio</a></li>
          <li><a href="/contact" class="navbar-brand">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://github.com/MegOlson" class="navbar-right"><img src="../img/gh.png" alt=""></a></li>
          <li><a href="https://www.linkedin.com/in/megan-olson-0a63a0133/"><img src="../img/in.png" alt=""></a></li>
        </ul>
      </div>
    </nav>


    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
