<div class="jumbotron" id="projects">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Ruby/Sinatra/ActiveRecord SQL</h4>
        <a href="https://github.com/MegOlson/shoe_store"><img src="../public/img/shoe-store-screenshot.jpg" alt="My Project Screenshot"></a>
      </div>
      <div class="col-md-4">
        <h4>Angular/Firebase</h4>
        <a href="https://github.com/MegOlson/club-manager"><img src="../public/img/club-manager.jpg" alt="My Project Screenshot"></a>
      </div>
      <div class="col-md-4">
        <h4>Ruby/Sinatra/ActiveRecord SQL</h4>
        <a href="https://github.com/MegOlson/salvation-army-signup"><img src="../public/img/salvation-army.png" alt="My Project Screenshot"></a>
      </div>
    </div>
  </div>
</div>
