<div class="project-navbar">
  <nav class="navbar" role="navigation" id="portfolio">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-brand">
        <li><a href="/ruby">Ruby</a></li>
        <li><a href="/javascript">Javascript</a></li>
        <li><a href="/portfolio">All</a></li>
      </ul>
    </div>
  </nav>
</div>

<br>
<hr>
<br>
<div class="row">
  <div class="col-md-4">
    <h4>Ruby/Sinatra/ActiveRecord SQL</h4>
    <a href="https://github.com/MegOlson/shoe_store"><img class="project" src="../img/shoe-store-screenshot.jpg" alt="My Project Screenshot"></a>
  </div>
  <div class="col-md-4">
    <h4>Ruby/Sinatra/ActiveRecord SQL</h4>
    <a href="https://github.com/MegOlson/salvation-army-signup"><img class="project" src="../img/salvation-army.png" alt="My Project Screenshot"></a>
  </div>
</div>
