@import url('https://fonts.googleapis.com/css?family=Quicksand');

.navbar-left {
  margin-top: 20px;
}

body {
  margin-bottom: 50px;
}

.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin:0 auto;
}
.navbar-toggle {
    z-index:3;
}

#paragraph {
  font-size: 20px;
}

#home-page {
  background-color: #dab5b9;
}

.me {
  margin-right: 40%;
  margin-left: 40%;
}

.content {
  text-align: center;
}

.bio {
  margin-right: 28%;
  margin-left: 28%;
}

.col-md-2 {
  margin-right: 50px;
}

a {
  color: black;
  margin-top: 20px;
}

.blurb {
  margin-right: 20%;
  margin-left: 20%;
}

body {
  font-family: 'Quicksand', sans-serif;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #f3bbb4;
  margin: 1em 0;
  padding: 0;
  width: 60%;
  margin-left: 20%;
  margin-right: 30%;
}

.head {
  text-align: center;
}

h1 {
  font-size: 40px;
  margin-bottom: 40px;
}

.heading {
  margin-right: 30%;
  margin-left: 30%;
}

.inline {
  display: inline;
}

.project-navbar {
  display: block;
  margin-left: 38%;
  margin-right: 35%;
}

h3 {
  text-align: center;
}

.row {
  text-align: center;
}

.first {
  float: right;
}

.project {
  width: 350px;
  height: 200px;
}
